@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <form action="/" method="post">
        <input type="text" name="username" value=""/>
        <input type="text" name="password" value=""/>
        <button type="submit">Register</button>
    </form>
</div>
