@model RegisterViewModel

<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label>
            uname
        </label>
        <input asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>
            pwd
        </label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>
            confirmPwd
        </label>
        <input asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <button type="submit">
            Sign Up
        </button>
    </div>
</form>
<div>
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Back to Login</a>
</div>